{% extends "base.html" %}

{% block content %}

<section class="panel">

  <form method="post" class="filter-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="filter-panel">
      <div class="filter-header centered-header">
        <h3>{{ translations.admin_login_heading }}</h3>
      </div>

      <div class="filter-grid">
        <div class="filter-item wide">
          <label for="username">{{ translations.username_label }}</label>
          <input
            id="username"
            name="username"
            type="text"
            value=""
            required
          >
        </div>

        <div class="filter-item wide">
          <label for="password">{{ translations.password_label }}</label>
          <input
            id="password"
            name="password"
            type="password"
            required
          >
        </div>
      </div>

      <div class="filter-actions">
        <button type="submit" class="button">{{ translations.login_button }}</button>
        <a href="{{ url_for('admin_forgot_password', lang=lang) }}" class="button secondary">{{ translations.forgot_password_link }}</a>
        <a href="{{ url_for('admin_register', lang=lang) }}" class="button secondary">{{ translations.create_account_button }}</a>
      </div>
    </div>
  </form>

</section>

{% endblock %}
